<ion-header>
  <ion-toolbar>
    <ion-title>
      <h6>Welcome, {{account?.firstName}}</h6>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logout">
        {{ 'LOGOUT_TITLE' | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let invoice of invoices; trackBy: trackId" #slidingItem>
      <ion-item>
        <ion-label text-wrap>
          <p>{{invoice.invoiceNumber}}</p>
          <p>{{invoice.date | date:'medium'}}</p>
          <p>{{invoice.verificationNumber}}</p>
          <p>{{invoice.unitName}}</p>
          <p>{{invoice.totalAmount}}</p>
          <p>{{invoice.amountPaid}}</p>
        </ion-label>
        <ion-button (click)="view(invoice)">Pay</ion-button>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!invoices?.length">
    <ion-label>
      No unpaid Invoices found.
    </ion-label>
  </ion-item>
</ion-content>